:root {
    --background: rgb(255, 250, 240);
    --lightblue: rgb(157, 177, 180);
    --darkblue:rgb(29,35,88);
    --btn1-hover-bg-color: rgb(49, 55, 56);
    --btn1-font-size: 2em;
    --btn1-color: black;
    --btn1-hover-color: white;
    
}
h2{
    text-align: center;
}
.center{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}
img[usemap] {
    border: none;
    outline: 1px solid gray;
    height: auto;
    width: auto;
    max-width: 100%;
    margin-bottom: 7px;
}
    

area {
    outline: 5px solid var(--red);
}

