h2{
    text-align: center;
    font-size: 30px;
}

.InfoTitle{
    font-size: 30px;
    
}

.svg{
    border: none;
    outline: 1px solid gray;
    height: auto;
    width: auto;
    max-width: 100%;
    
}
.Infosource{
    font-size: 1.4vw;
}
.center{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}
img[usemap] {
    border: none;
    outline: 1px solid gray;
    height: auto;
    width: auto;
    max-width: 100%;
    
}
area {
    outline: 5px solid var(--red);
}