#content {
    text-align: unset !important;
}

.zoom {
    padding: 50px;
    transition: transform 1s;
    margin: auto;
}

.zoom:hover  {
    transform: scale(1.05);
}

.slideshow{
    margin: auto;
    position: relative;
    max-width: 1000px;
    aspect-ratio: 16/9;
}

.youtube{
    width: 100%;
    aspect-ratio: 16/9;
}

.nextslide{
    margin-top: -40px;
    right:0;
    color: var(--color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s cubic-bezier(0.21, 0.81, 0.6, 0.36);
    top: 50%;
    width: auto;
    padding: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextslide:hover,.prevslide:hover{
    background-color: rgba(224, 224, 224, 0.8);
}

img{
    max-height: 500px;
    aspect-ratio: 16/9;

}

.quelle{
    color: blue;
    font-style: italic;
}

.slide, .slide2, .slide3, .slide4{
    height:auto;
    width:80%;
    margin: auto;
}

.prevslide{
    margin-top: -40px;
    color: var(--color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s cubic-bezier(0.21, 0.81, 0.6, 0.36);
    top: 50%;
    width: auto;
    padding: 16px;
    cursor: pointer;
    position: absolute;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.ueberschrift {
    color: var(--color);
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    font-weight: bold;
    width: 100%;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@media only screen and (max-width: 550px) {
    .prevslide, .nextslide, .text , p, a{font-size: 12px}
}
