:root {
    /* general */
    --background: rgb(255, 250, 240);
    --body-min-width: 250px;

    /* navigation */
    --nav-bg-color: rgb(157, 177, 180);

    /* buttons */
    --btn1-hover-bg-color: rgb(49, 55, 56);
    --btn1-font-size: 2em;
    --btn1-color: black;
    --btn1-hover-color: white;
    --btn1-padding: 0.5em;

    /* burger menu */
    --burger-menu-size: 2.5em;
    --burger-menu-desktop-fix: 0px;
    --burger-menu-desktop-pixel-fix: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    min-width: var(--body-min-width);   
}

/* custom scrollbar (only working in webkit browsers) */
::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    background-color: var(--nav-bg-color);
}
 
::-webkit-scrollbar-thumb {
    background-color: black;
}

/* general rules */ 
a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:  var(--nav-bg-color);
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--nav-bg-color);
    flex-wrap: wrap;
}

/* classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-transition {
    transition: .2s ease;
}

.imprint-open {
    opacity: 1 !important;
}

.btn1 {
    padding: var(--btn1-padding);
    height: 100%;
    color: var(--btn1-color);
}

.btn1-mobile-menu-open:nth-child(1) {
    transition: transform 1s ease 0.8s;
}

.btn1-mobile-menu-open:nth-child(2) {
    transition: transform 1s ease 0.9s;
}

.btn1-mobile-menu-open:nth-child(3) {
    transition: transform 1s ease 1.05s;
}

.btn1-mobile-menu-open:nth-child(4) {
    transition: transform 1s ease 1.25s;
}

.btn1:hover, .burger-menu:hover {
    cursor: pointer;
    background-color: var(--btn1-hover-bg-color);
    color: var(--btn1-hover-color);
}

.btn1-mobile-menu-open {
    width: calc(100vw - var(--burger-menu-desktop-fix) - var(--burger-menu-desktop-pixel-fix) - calc(var(--btn1-padding) * 2)) !important;
    transform: translateX(0) !important;
}

.links-mobile-menu-open {
    transform: translateY(var(--burger-menu-size)) translateX(0) !important;
    display: flex !important;
    flex-wrap: wrap !important;
    transition: transform 0.2s 1.1s ease;
}

/* elements */
#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--btn1-font-size);
    position: relative;
    transition: .2s ease;
}

#imprint {
    width: 100%;
    height: 2em;
    cursor: pointer;
}

#imprint-text {
    height: 0px;
    overflow: hidden;
    background-color: var(--nav-bg-color);
    transition: 
    height 0.4s 0s ease,
    opacity 0.3s 0.2s ease;
    opacity: 0;
}

#content {
    padding: 2em;
}

#burger-menu-con {
    position: absolute;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    padding: .5em;
    transform: translateX(-100vw);
    cursor: pointer;
}

#burger-menu-checkbox {
    display: none;
}

#burger-menu {
    transition: transform 0.5s;
    height: calc(var(--burger-menu-size) / 10);
    width: calc(var(--burger-menu-size) - 0.5em);
    background-color: black;
    border-radius: 9999px;
}

#burger-menu div::before {
    content: '';
    display: block;
    height: calc(var(--burger-menu-size) / 10);
    width: var(--burger-menu-size);
    transform: translateX(calc(calc(var(--burger-menu-size)/10) * -1));
    background-color: black;
    border-radius: 9999px;
    transition: transform 0.5s;
}

#burger-menu div {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s 0.5s;
    transform: translateY(calc(var(--burger-menu-size) / 3.4));
}

#burger-menu-background {
    display: none;
    position: fixed;
    transform: translate(0, 0);
    transition:
    transform 0.3s 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    width 0.7s 0s cubic-bezier(0.23, 1, 0.32, 1),
    height 0.7s 0s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgb(157, 177, 180);
    height: 100%;
    width: 100%;
    z-index: -100;
    left: 0;
    top: 0;
}

#burger-menu-checkbox:checked ~ #burger-menu-background {
    transform: translate(calc(50vw - 50% - calc(var(--burger-menu-desktop-fix) / 2) - var(--burger-menu-desktop-pixel-fix)), calc(50vh - 50%));
    transition:
    transform 0.3s 0s cubic-bezier(0.23, 1, 0.32, 1),
    width 0.7s 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    height 0.7s 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    left 0.5s 0.6s ease, 
    top 0.5s 0.6s ease;
    height: 100vh;
    width: calc(100vw - var(--burger-menu-desktop-fix));
}
  
#burger-menu div:last-child {
    transform: translateY(calc(calc(var(--burger-menu-size) / 3.4) * -1));
}

#burger-menu-checkbox:checked ~ #burger-menu {
    transform: translateY(0) rotate(-45deg);
    transition: transform 0.5s 0.5s;
}

#burger-menu-checkbox:checked ~ #burger-menu div {
    transform: translateY(0);
    transition: transform 0.5s;
}

#burger-menu-checkbox:checked ~ #burger-menu div:last-child::before {
    transform: rotate(90deg) translateY(calc(var(--burger-menu-size) / 10));
    transition: transform 0.5s 0.5s;
}

/* media query to make header responsive */
@media only screen and (max-aspect-ratio: 5/6) {

    #links {
        transform: translateY(-100vh);
        position: absolute;
        left: 0;
        top: 0;
    }

    #burger-menu-con {
        position: relative;
        transform: translateX(0);
    }

    #burger-menu-background {
        display: flex;
    }

    .btn1 {
        transform: translateX(-100vw);
    }
}