:root {
    /* general */
    --background: rgb(255, 250, 240);

    /* navigation */
    --nav-bg-color: rgb(157, 177, 180);

    /* buttons */
    --btn1-hover-bg-color: rgb(49, 55, 56);
    --btn1-font-size: 2em;
    --btn1-color: black;
    --btn1-hover-color: white;

    /* burger menu */
    --burger-menu-size: 2.5em;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:  var(--nav-bg-color);
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--btn1-font-size);
    position: relative;
}

#burger-menu-con {
    background-color: red;
    cursor: pointer;
    position: absolute;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    flex-wrap: wrap;
    padding: .5em;
    transform: translateX(-100vw);
}

#burger-menu-con:hover > .burger-menu-line:nth-child(1) {
    animation: burger-menu-animation-top 1.2s forwards;
}

#burger-menu-con:hover > .burger-menu-line:nth-child(2) {
    animation: burger-menu-animation-mid .5s forwards;
}

#burger-menu-con:hover > .burger-menu-line:nth-child(3) {
    animation: burger-menu-animation-bottom 1.2s forwards;
}

@keyframes burger-menu-animation-top {
    0% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(.8em);
    }
    100% {
        transform: translateY(.8em) rotate(45deg);
    }
}

@keyframes burger-menu-animation-mid {
    60%{
        width: 100%;
    }
    95% {
        width: 100%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes burger-menu-animation-bottom {
    0% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-0.8em);
    }
    100% {
        transform: translateY(-0.8em) rotate(-45deg);
    }
}

#content {
    margin: 2em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-transition {
    transition: .2s ease;
}

.burger-menu-line {
    transition: 1s ease;
    height: calc(var(--burger-menu-size)/10);
    width: var(--burger-menu-size);
    background-color: black;
    border-radius: 999px;
}

.burger-menu-line:nth-child(2) {
    width: calc(var(--burger-menu-size) - 0.75em);
}

.btn1 {
    padding: .5em;
    height: 100%;
    color: var(--btn1-color);
    
}

.btn1:hover, .burger-menu:hover {
    cursor: pointer;
    background-color: var(--btn1-hover-bg-color);
    color: var(--btn1-hover-color);
}

/* media query to make header responsive */
@media only screen and (max-aspect-ratio: 5/6) {
    #links {
        transform: translateY(-100vh);
        position: absolute;
        left: 0;
        top: 0;
    }

    #burger-menu-con {
        position: relative;
        transform: translateX(0);

    }
}