:root {
    /* general */
    --background: rgb(255, 250, 240);

    /* navigation */
    --nav-bg-color: rgb(157, 177, 180);

    /* buttons */
    --btn1-hover-bg-color: rgb(49, 55, 56);
    --btn1-font-size: 2em;
    --btn1-color: black;
    --btn1-hover-color: white;

    /* burger menu */
    --burger-menu-size: 2.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    min-width: 300px;
}

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    background-color: var(--nav-bg-color);
}
 
::-webkit-scrollbar-thumb {
    background-color: black;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:  var(--nav-bg-color);
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--btn1-font-size);
    position: relative;
}

#content {
    padding: 2em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-transition {
    transition: .2s ease;
}

#burger-menu-con {
    position: absolute;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    padding: .5em;
    transform: translateX(-100vw);
    cursor: pointer;
}

#burger-menu-checkbox {
    display: none;
}

#burger-menu {
    transition: transform 0.5s;
    height: calc(var(--burger-menu-size) / 10);
    width: calc(var(--burger-menu-size) - 0.5em);
    background-color: black;
    border-radius: 9999px;
}

#burger-menu div::before {
    content: '';
    display: block;
    height: calc(var(--burger-menu-size) / 10);
    width: var(--burger-menu-size);
    transform: translateX(calc(calc(var(--burger-menu-size)/10) * -1));
    background-color: black;
    border-radius: 9999px;
    transition: transform 0.5s;
}

#burger-menu div {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.5s 0.5s;
    transform: translateY(calc(var(--burger-menu-size) / 3.4));
}

#burger-menu-background {
    position: absolute;
    transform: translate(0, 0);
    transition:
    transform 0.5s 1.1s cubic-bezier(0.23, 1, 0.32, 1),
    width 1s 0s cubic-bezier(0.23, 1, 0.32, 1),
    height 1s 0s cubic-bezier(0.23, 1, 0.32, 1),
    border-radius 0.5s 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgb(157, 177, 180);
    height: 100%;
    width: 100%;
    z-index: -100;
    border-radius: 0.7em;
}

#burger-menu-checkbox:checked ~ #burger-menu-background {
    overflow: hidden;
    transform: translate(48vw, 48vh);
    transition:
    transform 0.5s 0s cubic-bezier(0.23, 1, 0.32, 1),
    width 1s 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    height 1s 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    height: 300vh;
    width: 300vh;
    border-radius: 0.7em;
}
  
#burger-menu div:last-child {
    transform: translateY(calc(calc(var(--burger-menu-size) / 3.4) * -1));
}

#burger-menu-checkbox:checked ~ #burger-menu-bg {
    width: 100vw;
}

#burger-menu-checkbox:checked ~ #burger-menu {
    transform: translateY(0) rotate(-45deg);
    transition: transform 0.5s 0.5s;
}

#burger-menu-checkbox:checked ~ #burger-menu div {
    transform: translateY(0);
    transition: transform 0.5s;
}

#burger-menu-checkbox:checked ~ #burger-menu div:last-child::before {
    transform: rotate(90deg) translateY(calc(var(--burger-menu-size) / 10));
    transition: transform 0.5s 0.5s;
}


.btn1 {
    padding: .5em;
    height: 100%;
    color: var(--btn1-color);
    
}

.btn1:hover, .burger-menu:hover {
    cursor: pointer;
    background-color: var(--btn1-hover-bg-color);
    color: var(--btn1-hover-color);
}

/* media query to make header responsive */
@media only screen and (max-aspect-ratio: 5/6) {
    #links {
        transform: translateY(-100vh);
        position: absolute;
        left: 0;
        top: 0;
    }

    #burger-menu-con {
        position: relative;
        transform: translateX(0);

    }
}