:root {
    /* general */
    --background: rgb(255, 250, 240);

    /* navigation */
    --nav-bg-color: rgb(157, 177, 180);

    /* buttons */
    --btn1-hover-bg-color: rgb(49, 55, 56);
    --btn1-font-size: 2em;
    --btn1-color: black;
    --btn1-hover-color: white;

    /* burger menu */
    --burger-menu-size: 2.5em;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:  var(--nav-bg-color);
}

#links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--btn1-font-size);
    position: relative;
}

#burger-menu-con {
    position: absolute;
    width: var(--burger-menu-size);
    height: var(--burger-menu-size);
    flex-wrap: wrap;
    padding: .5em;
    transform: translateX(-100vw);
}

#content {
    margin-top: .5em;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-transition {
    transition: .2s ease;
}

.burger-menu-line {
    height: calc(var(--burger-menu-size)/10);
    width: var(--burger-menu-size);
    background-color: black;
    border-radius: 999px;
}

.burger-menu-line:nth-child(2) {
    width: calc(var(--burger-menu-size) - 0.75em);
}

.btn1 {
    padding: .5em;
    height: 100%;
    color: var(--btn1-color);
    
}

.btn1:hover, .burger-menu:hover {
    cursor: pointer;
    background-color: var(--btn1-hover-bg-color);
    color: var(--btn1-hover-color);
}

/* media query to make header responsive */
@media only screen and (max-aspect-ratio: 5/6) {
    #links {
        transform: translateY(-100vh);
        position: absolute;
        left: 0;
        top: 0;
    }

    #burger-menu-con {
        position: relative;
        transform: translateX(0);

    }
  }